<div class="top-bar">
    <div class="logo">Training Tracker</div>
    <div class="right-section">
      <button class="logout-button">Logout</button>
    </div>
  </div>
  
  <!-- Sidebar -->
  <div class="sidebar">
    <nav>
      <li class="menu_item">
        <a class="nav_link" href="admin-home">
          <i class="icon">🏠</i> <span>Home</span>
        </a>
      </li>
      <li class="menu_item">
        <a class="nav_link" href="find-student">
          <i class="icon">🔍</i> <span>Find Students</span>
        </a>
      </li>
      <li class="menu_item">
        <a class="nav_link" href="map-student">
          <i class="icon">📊</i> <span>Map Students</span>
        </a>
      </li>
      <li class="menu_item">
        <a class="nav_link" href="admin-supportdesk">
          <i class="icon">💬</i> <span>Student Support</span>
        </a>
      </li>
      <li class="menu_item">
        <a class="nav_link" href="admin-notification">
          <i class="icon">🔔</i> <span>Notifications</span>
        </a>
      </li>
    </nav>
  </div>